@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin hover-highlight( $color, $speed: 0.3s ) {
  @include transition(
    background $speed,
    box-shadow $speed,
    border     $speed ease-out
  );

  &:hover {
    box-shadow: 0 0 5px $color;
    border: 1px solid $color;
  }
}
