.modal {
  .modal-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .modal-body {
    padding: 0;

    .container-fluid {
      padding: 0;
    }

    .modal-label {
      text-align: right;
    }

    .glyphicon {
      text-align: center;
      font-size: 35px;
    }

    .stats {
      p {
        font-weight: bold;
      }
    }

    .stats, .text-samples, .shades {
      padding: 15px;
    }

    .shades {
      .shade {
        display: inline-block;
        background: #444;
        border: 1px solid transparent;
        border-radius: 2px;
      }

      .slice {
        text-align: center;
      }

      .cs-row {
        line-height: 0px;
      }

      .shade {
        margin: 1px;
        min-height: 20px;
        min-width: 20px;
      }

      .shade.shade-tall {
        min-height: 68px;
      }

      .shade.shade-wide {
        min-width: 68px;
      }
    }
  }
}