.palette {
  .pa-swatches {
    @include make-row();
    margin-left: auto;
    margin-right: auto;

    .pa-swatch {
      display: inline-block;
      height: 73px;
      margin: 0;
      padding: 7px;
      overflow: hidden;

      &:hover {
        cursor: pointer;
        border-bottom: 5px dotted;
      }

      &.active {
        border-bottom: 5px solid;
      }

      .pa-swatch-color {
        margin: 0;
      }

      .pa-swatch-name {
        font-size: 18px;
        line-height: 44px;
        white-space: nowrap;
      }
    }
  }

  .pa-editor {
    //@extend .form-horizontal;

    label {
      text-align: right;
      padding-right: 5%;
    }

    input:disabled {
      opacity: 0.5;
    }

    .pa-buttons {
      text-align: center;
      .pa-add, .pa-remove {
        @extend .btn;
        @extend .btn-lg;
        font-size: 22px;
      }
      .pa-add {
        @extend .btn-primary;
        margin: 20px;
        width: 33%;
        min-width: 160px;

        .glyphicon {
          margin-right: 10px;
        }
      }
      .pa-remove {
        @extend .btn-danger;
        margin: 0 10px;
      }
    }

    .pa-settings {
      @include make-row;

      .form-group {
        @include make-sm-column(4);
      }

      .pa-input {
        margin-left: 0;
        margin-right: 0;
        label {
          @extend .control-label;
          @extend .h4;
        }
        input, select {
          @extend .form-control;
        }
      }

      .pa-color-field {
        min-width: 75px;
      }
    }

    .pa-transforms {
      @include make-row;
      .pa-hue, .pa-sat, .pa-lum {
        @include make-sm-column(4);
        margin-bottom: 10px;
        legend {
          margin-bottom: 10px;
        }
      }
      .pa-input {
        @include make-row;
        margin: 0 0 5px 0;

        label {
          @include make-xs-column(4);
          @include make-sm-column(5);
          @include make-md-column(4);
          @include make-lg-column(3);
        }
        input {
          @include make-xs-column(8);
          @include make-sm-column(7);
          @include make-md-column(8);
          @include make-lg-column(9);
          padding: 0;
        }
      }
    }
  }
}

// responsive palette swatches
@media screen and (max-width: $screen-sm-min) {
  .pa-swatch {
    width: 50%;
  }
}
@media screen and (min-width: $screen-sm-min) {
  .pa-swatch {
    width: 33%;
  }
}
@media screen and (min-width: $screen-md-min) {
  .pa-swatch {
    width: 20%;
  }
}
