@mixin range-slider {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #a5a5a5;
  border-radius: 2px;
  border: 0px solid #010101;
}

@mixin range-thumb {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid $control-color;
  cursor: pointer;
  border-radius: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  @include range-slider;
}
input[type=range]::-webkit-slider-thumb {
  @include range-thumb;
  -webkit-appearance: none;
  margin-top: 4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}
input[type=range]::-moz-range-track {
  @include range-slider;
}
input[type=range]::-moz-range-thumb {
  @include range-thumb;
  height: 14px;
  background: none;
  border-top: none;
}
input[type=range]::-ms-track {
  @include range-slider;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #727272;
  border: none;
  border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
  background: #a5a5a5;
  border: none;
  border-radius: 2px;
}
input[type=range]::-ms-thumb {
  width: 4px;
  height: 9px;
  border: none;
  border-radius: 0px;
  background-color: $control-color;
}

input[type=range]::-ms-tooltip {
  display: none;
}
