@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin hover-highlight( $color, $speed: 0.3s ) {
  @include transition(
    background $speed,
    box-shadow $speed,
    border     $speed ease-out
  );

  &:hover {
    box-shadow: 0 0 5px $color;
    border: 1px solid $color;
  }
}

.tint {
  @include hover-highlight( black );

  height: 30px;
  margin: 5px 0;
  border-radius: 3px;

  border: 1px solid transparent;
  cursor: pointer;

  .contrast {
    font-size: 20px;
    margin: 0;
    padding: 5px;
    line-height: 20px;
  }
}

// todo, this needs to get moved to main
.jumbotron {
  @include transition(
    background 60s,
    color      60s,
    border     60s ease-out
  );
}

