#color-info.modal.fade(role='dialog' aria-labelledby='gridSystemModalLabel')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        h4#gridSystemModalLabel.modal-title Information for #ffffff

      .modal-body
        .container-fluid
          include _stats.jade

          .text-samples
            .row
              #aa-large.col-md-4
                span.glyphicon.glyphicon-remove-sign
                .row
                  h4.col-sm-8 AA Large
                  h4.col-sm-4.hex #fff
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              #aaa-large.col-md-4
                span.glyphicon.glyphicon-remove-sign
                .row
                  h4.col-sm-8 AAA Large/AA Small
                  h4.col-sm-4.hex #fff
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

              #aaa-small.col-md-4
                span.glyphicon.glyphicon-remove-sign
                .row
                  h4.col-sm-8 AAA Small
                  h4.col-sm-4.hex #fff
                p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          .shades
            .row
              .col-md-4.col-sm-6
                .well
                  .slice#cs-original
              .col-md-4.col-sm-6
                .well
                  .slice#cs-shifted1
              .col-md-4.col-sm-6
                .well
                  .slice#cs-shifted2
              .col-md-4.col-sm-6
                .well
                  .slice#cs-shifted3
              .col-md-4.col-sm-6
                .well
                  .slice#cs-shifted4
              .col-md-4.col-sm-6
                .well
                  .slice#cs-shifted5

