.stats
  .row
    .modal-label.col-md-2.col-sm-3.col-xs-6
      p Max Contrast :
    .col-xs-6
      p.te-contrast
  .row
    .modal-label.col-md-2.col-sm-3.col-xs-6
      p Hue :
      p Saturation :
      p Luminance :
    .col-md-1.col-sm-3.col-xs-6
      p.te-hue
      p.te-sat
      p.te-lum
    .modal-label.col-md-2.col-sm-3.col-xs-6
      p Red:
      p Green:
      p Blue:
    .col-md-1.col-sm-3.col-xs-6
      p.te-red
      p.te-green
      p.te-blue