doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title MintTints

    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    //Place favicon.ico in the root directory

    //build:css styles/vendor.css
    //endbuild

    //build:css styles/app.css
    link(rel='stylesheet' href='styles/app.css')
    //endbuild

  body
    <!--[if lt IE 10]>
    p.browserupgrade
      | You are using an outdated browser. Please 
      a(href='http://browsehappy.com/') upgrade
      |  your browser to improve your experience.
    <![endif]-->
 
    .container
      .header
        ul.nav.nav-pills.pull-right
          li.active
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Contact

        h3.text-muted MintTints

      .jumbotron
        h1 MintTints
          p.lead Explore the possibilities of automated color design
          p.lead The freshest shades on the web

      .row.marketing
      .row.colors
      .row
        button#more-colors.btn.btn-primary.btn-lg.btn-block(type='button') More Colors!

      .footer
        p I guess something should go here

    #color-info.modal.fade(role='dialog' aria-labelledby='gridSystemModalLabel')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4#gridSystemModalLabel.modal-title Information for #ffffff

          .modal-body
            .container-fluid
              .stats
                .row
                  .col-md-3 
                    p RGB
                  .col-md-8
                    p#rgb 

                .row
                  .col-md-3
                    p Luminance
                  .col-md-8
                    p#luminance

                .row
                  .col-md-3
                    p Max Contrast
                  .col-md-8
                    p#max-contrast

              .text-samples
                .row
                  #aa-large.col-md-4
                    h4 AA Large
                    h4.hex #fff
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                  #aaa-large.col-md-4
                    h4 AAA Large / AA Small
                    h4.hex #fff
                    p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                  #aaa-small.col-md-4
                    h4 AAA Small
                    h4.hex #fff
                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

              .shades
                .row
                  .col-md-4
                    .well
                      .sm-row
                        span.sm-col
                          span.shade(data-row='6' data-col='0')
                          span.shade(data-row='6' data-col='1')
                          span.shade(data-row='6' data-col='2')

                        span.lg-col
                          span.shade(data-row='6' data-col='3')

                        span.sm-col
                          span.shade(data-row='6' data-col='4')
                          span.shade(data-row='6' data-col='5')
                          span.shade(data-row='6' data-col='6')

                      .sm-row
                        span.sm-col
                          span.shade(data-row='5' data-col='0')
                          span.shade(data-row='5' data-col='1')
                          span.shade(data-row='5' data-col='2')

                        span.lg-col
                          span.shade(data-row='5' data-col='3')
                        
                        span.sm-col
                          span.shade(data-row='5' data-col='4')
                          span.shade(data-row='5' data-col='5')
                          span.shade(data-row='5' data-col='6')

                      .sm-row
                        span.sm-col
                          span.shade(data-row='4' data-col='0')
                          span.shade(data-row='4' data-col='1')
                          span.shade(data-row='4' data-col='2')

                        span.lg-col
                          span.shade(data-row='4' data-col='3')
                        
                        span.sm-col
                          span.shade(data-row='4' data-col='4')
                          span.shade(data-row='4' data-col='5')
                          span.shade(data-row='4' data-col='6')

                      .lg-row
                        span.sm-col
                          span.shade(data-row='3' data-col='0')
                          span.shade(data-row='3' data-col='1')
                          span.shade(data-row='3' data-col='2')

                        span.lg-col
                          span.shade(data-row='3' data-col='3')

                        span.sm-col
                          span.shade(data-row='3' data-col='4')
                          span.shade(data-row='3' data-col='5')
                          span.shade(data-row='3' data-col='6')

                      .sm-row
                        span.sm-col
                          span.shade(data-row='2' data-col='0')
                          span.shade(data-row='2' data-col='1')
                          span.shade(data-row='2' data-col='2')

                        span.lg-col
                          span.shade(data-row='2' data-col='3')

                        span.sm-col
                          span.shade(data-row='2' data-col='4')
                          span.shade(data-row='2' data-col='5')
                          span.shade(data-row='2' data-col='6')

                      .sm-row
                        span.sm-col
                          span.shade(data-row='1' data-col='0')
                          span.shade(data-row='1' data-col='1')
                          span.shade(data-row='1' data-col='2')

                        span.lg-col
                          span.shade(data-row='1' data-col='3')

                        span.sm-col
                          span.shade(data-row='1' data-col='4')
                          span.shade(data-row='1' data-col='5')
                          span.shade(data-row='1' data-col='6')

                      .sm-row
                        span.sm-col
                          span.shade(data-row='0' data-col='0')
                          span.shade(data-row='0' data-col='1')
                          span.shade(data-row='0' data-col='2')

                        span.lg-col
                          span.shade(data-row='0' data-col='3')

                        span.sm-col
                          span.shade(data-row='0' data-col='4')
                          span.shade(data-row='0' data-col='5')
                          span.shade(data-row='0' data-col='6')

                  .well.col-md-4
                  .well.col-md-4

    //build:js scripts/vendor.js
    //endbuild

    //build:js scripts/plugins.js
    //endbuild

    //build:js scripts/bundle.js
    script(src='scripts/bundle.js')
    //endbuild
