extends layouts/app

block content
  .editor
    .stats.form-inline
      .row.te-text-sample
        .col-md-4
          h2.te-lg-text
            | Welcome to MintTints!
          h4.te-md-text
            | Here to help designers pair text and background colors that are both beautiful and easy to read
          p.te-sm-text
            | MintTints can take any color and generate analogous colors that satisfy 
            a(href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html") WCAG 2.0
            |  contrast ratio requirements. This means that you no longer need to fiddle with finicky formulae to create perfect color palletes.
        .col-md-4
          h2.te-lg-text
            | Powered by HSWL
          h4.te-md-text
            | Functional yet familiar
          p.te-sm-text
            | HSWL is a hybrid color space that combines the hue and saturation attributes from HSL and replaces lightness with 
            a(href="http://www.w3.org/WAI/GL/wiki/Relative_luminance") WCAG's luminance formula
            | . This connection allows you to specify colors by a desired contrast directly, without any of the "guess and check" methods that would otherwise be required.
      .row
        .col-lg-3.col-md-5.col-sm-6
          input#colorpicker
        .col-lg-3.col-md-4.col-sm-6
          h4 Background Color
          div
            label Max Contrast
            p.te-contrast
          p.te-hex
          p.te-rgb
          p.te-hsl
          p.te-hsv
          p.te-hswl
          input.te-input
        .col-lg-3.col-md-4.col-sm-6
          h4 Contrast Colors
          div
            label Large
            input.te-large(value="3")
          div
            label Medium
            input.te-medium(value="4.5")
          div
            label Small
            input.te-small(value="7")

  .row.palette
  .row.colors
  .row
    button#more-colors.btn.btn-primary.btn-lg.btn-block(type='button') More Colors!

  include ./partials/_modal.jade